@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Message</h2>

<br>
<p>
    Foi desenvolvido métodos usando reflection para as operações de inclusão, alteração, exclusão e 
    listagem dos dados da tabela Devedor da base de dados DesafioAPI.  Projeto: LibraryDesafioAPI</p>

<p>
    A API foi desenvolvida para as mesmas operações e usando os metodos acima citados.   Projeto Desafio_API.
</p>

<p>
    Foi desenvolvida uma aplicação desktop que faz todo o seu acesso aos dados consumindo a API criada.  Projeto: FormDevedor.
</p>

<p>
    Foi desenvolvida uma aplicação web usando recursos disponíveis no C# de Css, html, entre outros,
    acessado as informações via API desenvolvida.  Projeto: WebDevedor.
</p>
<hr>
<p>
    String de conexão no arquivo Backwork em Classes no projeto: LibraryDesafioAPI.
    Banco: desafio, usuário: sa, senha: "123456".
    Arquivo Base.sql disponível na pasta da solução.
</p>
<hr>
<hr>
<p>
   Qualquer dúvida, estou à disposição...
</p>

<p>
    O Autor...
</p>