@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Message</h2>

<br>
<address>
    <b>FABIO LAZARI COSTA</b><br />
    Rua Joaquim M. de Figueiredo, 14-55, Casa 394<br />
    Condominio Terra Nova - Distrito Industrial - Bauru - SP - CEP 17034-290<br />
    <abbr title="Fone">F:</abbr>
    (14) 99796-3272
</address>

<address>
    <strong>Suporte:</strong><a href="mailto:flc.rock13@gmail.com">flc.rock13@gmail.com</a><br />
</address>